# Laboratorio 4

## Primer punto

### a)

In [1]:
from matplotlib import pyplot, pylab, mlab
from pylab import *
from scipy.optimize import linprog
import numpy as np
import math 
from math import factorial
from scipy.optimize import minimize
import sympy as sym
from itertools import combinations
import pandas as pd
from IPython.display import display

In [2]:
def soluciones_basicas (A,b):
    sol_bas = []
    base = []
    columnas = np.size(A[0])
    filas = np.size(b[:,0])
    ans = {"Solucion": sol_bas,
            "Base":base  }
    matrices = list (combinations(np.arange(0, columnas, 1),filas))
    for i in range(len(matrices)):
        sub_A = []
        for j in ((matrices[i])):
                sub_A.append(A[:,j])
        sub_A =  (np.array(sub_A)).transpose()
        if np.linalg.det(sub_A) !=0:
          aux = np.linalg.solve(sub_A,b)
          aux = np.round(aux,5) 
          sol_bas.append(aux)
          base.append(aux)

    return  ans

### b)

In [3]:
#Se crean las matrices  y  vector que determinan el sistema de ecuaciones 
A1 = np.array([[1 ,1,1,1,1 ],[1,2,3,4,5], [4,3,3,3,4]])
A2 = np.array([[1 ,1,1,1,1 ],[1,2,3,4,5], [2,3,4,5,6]])
b = np.array([[1],[2],[3]])

In [4]:
#Resultados con matriz de rango completo.
dir1 = soluciones_basicas(A1,b)

In [5]:
#Resultados con matriz de rango completo.
dir2 = soluciones_basicas(A2,b)

### C)

In [6]:
# 
pd.set_option("max_colwidth",75)
df_dir1 = pd.DataFrame(dir1)
display (df_dir1)

                       Base                  Solucion
0     [[0.0], [1.0], [0.0]]     [[0.0], [1.0], [0.0]]
1     [[0.0], [1.0], [0.0]]     [[0.0], [1.0], [0.0]]
2     [[0.0], [1.0], [0.0]]     [[0.0], [1.0], [0.0]]
3    [[0.0], [2.0], [-1.0]]    [[0.0], [2.0], [-1.0]]
4  [[0.25], [1.0], [-0.25]]  [[0.25], [1.0], [-0.25]]
5    [[0.5], [1.0], [-0.5]]    [[0.5], [1.0], [-0.5]]
6    [[1.0], [0.0], [-0.0]]    [[1.0], [0.0], [-0.0]]
7    [[1.0], [0.0], [-0.0]]    [[1.0], [0.0], [-0.0]]
8   [[2.0], [-1.0], [-0.0]]   [[2.0], [-1.0], [-0.0]]

In [7]:
pd.set_option("max_colwidth",75)
df_dir2 = pd.DataFrame(dir2)
display (df_dir2)

                          Base                     Solucion
0     [[0.5], [0.75], [-0.25]]     [[0.5], [0.75], [-0.25]]
1  [[0.875], [0.375], [-0.25]]  [[0.875], [0.375], [-0.25]]

In [8]:
#Ejemplo 
A3 = np.array([[1 ,1,1,3 ],[1,2,3,4], [2,3,4,5]])
b1 = np.array([[1],[2],[3]])
dir3 = soluciones_basicas(A3,b1)
pd.set_option("max_colwidth",75)
df_dir3 = pd.DataFrame(dir3)
display (df_dir3)

                    Base               Solucion
0  [[0.0], [1.0], [0.0]]  [[0.0], [1.0], [0.0]]
1  [[0.5], [0.5], [0.0]]  [[0.5], [0.5], [0.0]]
2  [[1.0], [0.0], [0.0]]  [[1.0], [0.0], [0.0]]

## Segundo Punto

### a) 
###1)
Las variables del problema son la cantidad de toneladas de carbón (C), petroleo (P) y gas(G) que serán utilizadas para producir energía.
###2) 
La función de costo del ejercicio es:
f() = 600000C + 550000P + 500000G
La función representa la cantidad máxima de energía [W]  que puede ser generada en un día dentro de la planta generadora.  
###3)
Restricciones:


*   20C + 18P + 15G <= 60
*   15C + 12P + 10G <= 75
*   200C + 220P + 250G <= 2000
*   C,P,G < 0

### b)

### c)